<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list style="background-color: #1e2329;" id="inbox-list">
          <ion-list-header style="background-color: #1e2329; color: #f3ba2f;">UCACoin</ion-list-header>
          <br style="background-color: #1e2329; border-top: 1px solid white;">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon" [style.color]="'white'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <div class = "hola">
          <ion-menu-toggle auto-hide="false" class="menuu">
              <ion-item (click)="onLogOut()" style="border-top: 1px solid white;">
                  <ion-icon name="log-out" [style.color]="'white'" slot="start"></ion-icon>
                  <ion-label>Cerrar Sesión</ion-label>
              </ion-item>
          </ion-menu-toggle>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
