.slide2{
  margin-top: 10%;
}

.canvas1 {
  margin-top: 15%;
  margin-left: 1%;
}

.canvas2 {
  margin-top: 15%;
  width: 75%;
}

ion-content{
  --overflow: hidden;
  --background: #1e2329;
}

table{
  margin-top: 15%;
  font-size: 90%;
}

.titulito{
  color: #f3ba2f;
  font-weight: bold;
}

th{
  color: #f3ba2f;
}

td{
  color: white;
}

.butonazo{
  margin: 0 auto;
}

ion-toolbar{
  --background: #f3ba2f;
  --opacity: 100%;
}

ion-menu-button{
  --color: #fff;
}

// COLOR AMARILLO #f3ba2f
// COLOR NEGRO #1e2329
// COLOR BLANCO #ffffff
